<!-- atomist:hide -->
<details>
<summary>Changelog for <code>{{imageName}}</code></summary>
<p>

{{#if file}}
### Commit

New image build caused by commit {{file.slug}}@{{file.sha}} to [`{{file.path}}`](https://github.com/{{file.slug}}/blob/{{file.sha}}/{{file.path}}):

```
{{file.message}}
```

---

{{/if}}
### Comparison

Comparing Docker image `{{imageName}}` at digests

_Current_ `{{fromLine.digest}}` {{#if sizeDiff.current}}({{bytes sizeDiff.current}}){{/if}} and
_Proposed_ `{{or fromLine.image.digest fromLine.manifestList.digest}}` {{#if sizeDiff.proposed}}({{bytes sizeDiff.proposed}}){{/if}}:

#### Vulnerabilities

{{#if vulScanned}}
{{#if vulSummary.count}}Detected {{vulSummary.msg}} {{plural "vulnerability" vulSummary.count false false}} in proposed image. {{/if}}{{#unless vulAdditions}}{{#unless vulRemovals}}No vulnerability changes detected{{/unless}}{{/unless}}{{#if vulAdditions}}
##### New Vulnerabilities

| CVE | Severity | CVSS Base Score | Affected | Fix |
| --- | :------: | --------------- | -------- | :---: |
{{#each vulAdditions}}
| [{{sourceId}}](https://nvd.nist.gov/vuln/detail/{{sourceId}}) | {{italic (replace (lower severity) "_" " " )}} | {{#if cvssScore}}{{code cvssScore}}{{else}}`n/a`{{/if}} | {{wrap affected 50}} | {{#if fixAvailable}}x{{/if}} |
{{/each}}
{{/if}}

{{#if vulRemovals}}
##### Fixed Vulnerabilities

| CVE | Severity | CVSS Base Score | Affected |
| --- | :------: | --------------- | -------- |
{{#each vulRemovals}}
| [{{sourceId}}](https://nvd.nist.gov/vuln/detail/{{sourceId}}) | {{italic (replace (lower severity) "_" " " )}} | {{#if cvssScore}}{{code cvssScore}}{{else}}`n/a`{{/if}} | {{wrap affected 50}} |
{{/each}}
{{/if}}
{{else}}
No vulnerabilities detected
{{/if}}

#### Packages

{{#if packageDiff}}
The following package differences were detected:

| Name | Current | Proposed | Type |
| ---- | ------- | -------- | ---- |
{{#each packageDiff}}
| `{{package}}` | {{code current}} | {{code proposed}} | {{type}} |
{{/each}}
{{else}}
No package differences detected
{{/if}}

#### Files

{{#if fileDiff}}
The following file modifications were detected:

| Name | Current | Proposed | Diff |
| ---- | ------- | -------- | ---- |
{{#each fileDiff}}
| `{{path}}` {{#if children}}({{plural "file" children true true}} changed){{/if}} | {{#if current}}{{#if proposed}}{{code (bytes current)}}{{/if}}{{/if}} | {{#unless current}}`+`{{else}}{{#unless proposed}}`-`{{else}}{{code (bytes proposed)}}{{/unless}}{{/unless}} | {{code (bytes diff)}} |
{{/each}}
{{else}}
No file modifications detected
{{/if}}

#### History

{{#if historyDiff}}
The following differences in [`docker history`](https://docs.docker.com/engine/reference/commandline/history/) were detected:

```diff
{{historyDiff}}
```
{{else}}
No differences in [`docker history`](https://docs.docker.com/engine/reference/commandline/history/) detected
{{/if}}

#### Ports

{{#if portsDiff}}
The following different exposed ports were detected:

```diff
{{#each portsDiff}}
{{type}}{{text}}
{{/each}}
```
{{else}}
No different exposed ports detected
{{/if}}

#### Environment Variables

{{#if envDiff}}
The following different environment variables were detected:

```diff
{{#each envDiff}}
{{type}}{{text}}
{{/each}}
```
{{else}}
No different environment variables detected
{{/if}}

---

</p>
</details>
<!-- atomist:show -->
